.appContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
ul.lateral {
  box-sizing: border-box;
  padding-left: 20px;
}
ul.lateral li {
  list-style: none;
  width: 45px;
  background-color: rgb(31, 105, 244);
  padding: 3px;
  border-radius: 30px;
  transition: 0.6s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  z-index: 2;
}
ul.lateral li:hover {
  width: 200px;
  z-index: 2;
}
ul.lateral li h3 {
  position: relative;
  left: 10px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: 700;
  z-index: 2;
}
.lateralMenu {
  box-sizing: border-box;
  width: 7%;
  background-color: cornflowerblue;
  border-right: solid 0.5px white;
  height: 100vh;
  z-index: 2;
}
.title-1 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menuIconOption {
  width: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 5;
}
.menuIconOption img {
  box-sizing: border-box;
  padding: 7px;
  width: 45px;
}

.bodyApp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(213, 227, 254);
  height: 100vh;
  max-width: 95%;
  width: 93%;
  z-index: 0;
}
