.confiContainer {
  box-sizing: border-box;
  width: 100%;
}
.infoWindow {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 92.9%;
  height: 37vh;
  margin: 1px;
  background-color: rgb(11, 11, 52);
  color: white;
  z-index: 3;
}
.formWindow {
  width: 100%;
}
.dataSectionContainer {
  min-height: 51vh;
  padding: 5px;
}

.sectionOne {
  width: 30%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.listBroContainer {
  width: 90%;
  min-width: 480px;
  text-align: left;
}
.listBroContainer h3 {
  width: 100%;
  text-align: center;
}
.listselines {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.headerListbro {
  width: 100%;
  min-width: 480px;
  border: solid 1px white;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.lineListBro {
  width: 100%;
  min-width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.listbroId {
  width: 30px;
  margin-left: 8px;
  border-right: solid 1px navy;
}
.listbroNombre {
  width: 240px;
  border-right: solid 1px navy;
}
.listbroTlf {
  width: 90px;
  border-right: solid 1px navy;
}
.listbroGrupo {
  width: 60px;
  border-right: solid 1px navy;
}
.listbroRelacion {
  width: 50px;
  margin-right: 8px;
}
.linebroId {
  border-left: solid 1px white;
  width: 32px;
  padding-top: 3px;
  margin-left: 10px;
}
.linebroNombre {
  width: 235px;
}
.linebroTlf {
  width: 90px;
  padding-left: 5px;
}
.linebroGrupo {
  width: 60px;
  border-right: solid 1px navy;
}
.linebroRelacion {
  width: 50px;
  margin-right: 8px;
  padding-top: 3px;
  border-right: solid 1px white;
}
.lincierre {
  width: 460px;
  margin-left: 10px;
  border-left: solid 1px white;
  border-right: solid 2px white;
  border-bottom: solid 1px white;
}

/* listado relaciones modal */
.headerListRel {
  box-sizing: border-box;
  width: 100%;
  border: solid 2px dodgerblue;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.headrelId {
  width: 30px;
  border-right: solid 1px navy;
}
.headrelNom {
  width: 300px;
  border-right: solid 1px navy;
}
.headrelMem {
  width: 120px;
  border-right: solid 1px navy;
}

.lineListRel {
  width: 100%;
  min-width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  cursor: pointer;
}
.lineListRel:hover {
  color: dodgerblue;
  background-color: white;
}
.selectRel {
  border: solid 1px dodgerblue;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  font-weight: 700;
  color: dodgerblue;
  width: 90%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linerelId {
  width: 40px;
  text-align: center;
}
.linerelNom {
  width: 290px;
  text-align: left;
}
.linerelMem {
  width: 120px;
  text-align: center;
}

.listBroBody {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
